.about{
    .left-column{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .right_column {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}