
body {
    margin: 0px;
    font-family: 'Inria Sans', sans-serif;
    
    h1{
        display: flex;
        justify-content: center;
        
    }

    .time {
        display: flex;
        justify-content: center;
        color: green;
    }

}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

