.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: rgb(103, 182, 232);

    .left-side {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .right-side {
        display: flex;
        font-size: 1.5em;
        font-weight: 900;
        letter-spacing: 5px;
        padding: 0px;
    }

    .nav-link-wrapper {
        height: 22px;
        border-bottom: 1px solid transparent;
        transition: 0.5s ease-in-out;

        margin-right: 20px;
        text-transform: uppercase;
        font-size: 0.9rem;



        a {
            color: $grey;
            text-decoration: none;
            
            
            &:hover {
                color: black;
                border-bottom: solid black;
                transition: 0.3s ease-in-out;
                font-size: 1rem;
            }
        }


        .nav-link-active {
            border-bottom: 1px solid black;
            color: black;
        }

    }

}
